*{
  margin: 0%;
  padding: 0%;
  font-family: 'Poppins', sans-serif; 
}
.container{
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}
.todo-app{
  width: 100%;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
}
.todo-app h2{
  color: #002765;
  margin-bottom: 20px;
}
.todo-app h2 img{
  display: flex;
}
.row {
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input{
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}
button{
  outline: none;
  padding: 16px 30px;
  color: #fff;
  font-size: 16px;
  border-radius: 40px;
}
ul li{
  font-size: 18px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
}
ul li::before{
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 8px;
}
ul li.checked{
  color: #1c1a1a;
}
ul li.checked::before{
  background-image: url();
}
ul li span{
  position: absolute;
  right: 0;
  top: 10px;
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover{
  background: #edeef0;
}